{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Change Password</title>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'bootstrap.js' %}"></script>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'change_pass.css' %}">
</head>

<body>

<div class="dashboard">

<!-- SIDEBAR -->
<div class="sidebar">

<div class="logo">
ArtGallery
</div>

<div class="menu">
<a href="{% url 'user_dashboard' %}" ><i class="fa-solid fa-user"></i> My Profile</a>
<a href="{% url 'U_change_password' %}" class="active"><i class="fa-solid fa-key"></i> Change Password</a>
<a href="{% url 'user_logout' %}" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
</div>


</div>

<!-- MAIN -->
<div class="main">

<h1 class="title">
Change Password
</h1>

<div class="form-box">

<form method="POST">
    {% csrf_token %}

<!-- OLD PASSWORD -->
<div class="field">

<label>Current Password</label>

<div class="input-box">

<i class="fa-solid fa-lock"></i>

<input type="password"
placeholder="Enter current password" name="cpwd" required>

</div>

</div>

{% if msz %}
<div class="alert {{col}}">{{msz}}</div>
{% endif %}

<!-- NEW PASSWORD -->
<div class="field" >

<label>New Password</label>

<div class="input-box" id="pass">

<i class="fa-solid fa-key"></i>

<input type="password"
placeholder="Enter new password" name="npwd" required id="pas" onkeyup="check_pass()">

</div>

</div>

<!-- CONFIRM PASSWORD -->
<div class="field" >

<label>Confirm Password</label>

<div class="input-box" id="cpass">

<i class="fa-solid fa-shield-halved"></i>

<input type="password"
placeholder="Confirm new password" id="cpas" required onkeyup="check_pass()">

</div>

</div>

<!-- BUTTON -->
<button type="submit" class="btn" value="change password" id="sbbtn">

<i class="fa-solid fa-floppy-disk"></i>
 Update Password

</button>

</form>

<p class="note">
Your password should contain at least 8 characters
including uppercase letters, numbers and symbols
for better security.
</p>

</div>

</div>

</div>
<script>

function check_pass(){
    let p = $("#pas").val();
    let cp = $("#cpas").val();
    
    if(p==cp){
        $("#pass").css("border","1px solid green");
        $("#cpass").css("border","1px solid green");
        $("#sbbtn").removeAttr("disabled");
    }else{
        $("#pass").css("border","1px solid red");
        $("#cpass").css("border","1px solid red");
        $("#sbbtn").attr("disabled","disabled");
    }
}

</script>

</body>
</html>